:root{
  --color-white: #fff;
  --color-green: #27C383;
  --color-background: #F7F7F7;
  --color-titles: #707070;
  --color-dividers: #EBEBEB;
  --color-text: #868686;
  --color-cart-border: #E2E2E2;
  --color-tgl: #B5C401;
  --color-lotofacil: #7F3992;
  --color-megasena: #01AC66;
  --color-lotomania: #F79C31;
  --color-button-save: #F4F4F4;
  --color-numbers: #ADC0C4;

  --font-family: 'HelveticaNeue-Light', sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 600;
  --font-weight-regular: 300;
  --font-size-1: 40px;
  --font-size-2: 32px;
  --font-size-3: 20px;
  --font-size-4: 18px;
  --font-size-5: 15px;
  --font-size-6: 13px;
  --font-size-7: 12px;

  --width-page: 1366px;
  --padding-x: 148px;

  font-family: var(--font-family);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-background);
  max-width: var(--width-page);
  height: 100vh;
  margin: 0 auto;
  border: 2px solid var(--color-dividers);
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

.btn-primary{
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-6);
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-green);
  padding: 12px 25px;
  border: 1px solid var(--color-green);
  border-radius: 10px;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn-primary:hover{
  background-color: var(--color-megasena);
}

.btn-primary>img{
  width: 24px;
  height: 24px;
  height: auto;
}

.btn-secondary{
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-6);
  color: var(--color-green);
  background-color: none;
  padding: 15px 25px;
  border: 1px solid var(--color-green);
  border-radius: 10px;
  transition: 0.2s ease;
}

.btn-secondary:hover{
  background-color: var(--color-green);
  color: var(--color-white);
}

.btn-game{
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-bold);
  font-style: italic;
  padding: 8px 28px;
  border: 2px solid;
  border-radius: 32px;
  transition: 0.2s ease;
}

.btn-game:hover{
  color: var(--color-white);
}

.btn-game--mega{
  color: var(--color-megasena);
  border-color: var(--color-megasena);
}

.btn-game--mega:hover{
  background-color: var(--color-megasena);
}

.btn-game--lotofacil{
  color: var(--color-lotofacil);
  border-color: var(--color-lotofacil);
}

.btn-game--lotofacil:hover{
  background-color: var(--color-lotofacil);
}

.btn-game--lotomania{
  color: var(--color-lotomania);
  border-color: var(--color-lotomania);
}

.btn-game--lotomania:hover{
  background-color: var(--color-lotomania);
}

.btn-number{
  width: 65px;
  height: 65px;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  background-color: var(--color-numbers);
  border: none;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: 0.2s ease;
}

.btn-number:hover{
  background-color: var(--color-text);

}

.btn-save-cart{
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
  font-style: italic;
  color: var(--color-green);
  background-color: var(--color-button-save);
  border: none;
  display: flex;
  align-items: center;
  gap: 18px;
  transition: 0.2s ease;
}

.btn-save-cart>img{
  width: 26px;    height: 26px;
}

.btn-save-cart:hover{
  color: var(--color-megasena);
}

h1{
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-bold);
  font-style: italic;
  color: var(--color-titles);
  text-transform: uppercase;
}

h2{
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
  font-style: italic;
  color: var(--color-titles);
  text-transform: uppercase;
}

h2>span{
  font-size: inherit;
  font-weight: var(--font-weight-regular);
  font-style: inherit;
  color: inherit;
  text-transform: inherit;
}

span.total{
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

h3{
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  font-style: italic;
  color: var(--color-text);
}

p{
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  font-style: italic;
  color: var(--color-text);
}

p.small{
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-bold);
}

p.price{
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

p.lotofacil{
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-5);
  color: var(--color-lotofacil);
}

p.lotomania{
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-5);
  color: var(--color-lotomania);
}

p.megasena{
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-5);
  color: var(--color-megasena);
}

p.copyright{
  color: var(--color-titles);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-regular);
  text-align: center;
}

.menu{
  width: 100%;    height: 58px;
  padding: 0px var(--padding-x);
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-dividers);
  margin-bottom: 44px;
}

.menu-logo{
  margin-right: 74px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.menu-logo>.underBar{
  width: 107px;   height: 7px;
  border-radius: 4px;
  background-color: var(--color-tgl);
  position: absolute;
  bottom: -4px;   right: -9px;
}

.menu-links{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-links-account{
  display: flex;
  gap: 24px;
}

.menu-link{
  color: var(--color-titles);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-link>img{
  width: 21px;
  height: 17px;
}

main{
  padding: 32px var(--padding-x);
  display: flex;
}

.cart{
  width: 400px;   height: auto;
  margin-left: min(38px, 54px);
  border: 2px solid var(--color-cart-border);
  border-radius: 10px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-container{
  padding: 32px 20px;
}

.cart-itens{
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 35px 0px;
}

.cart-item{
  display: flex;
  align-items: center;
  gap: 16px;
}


.cart-item-data{
  padding: 8px 0 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* border-left: 4px solid var(--color-green); */
  border-radius: 5px;
}

.cart-item-megasena{
  border-left: 4px solid var(--color-megasena);
}

.cart-item-lotomania{
  border-left: 4px solid var(--color-lotomania);
}

.cart-item-lotofacil{
  border-left: 4px solid var(--color-lotofacil);
}

.cart-item-data-game{
  display: flex;
  gap: 12px;
}

.cart-item>img{
  width: 20px;
  height: 24px;
}

.cart-save{
  width: 100%;
  padding: 16px 56px;
  display: grid;
  place-content: center;
  background-color: var(--color-button-save);
  border-radius: 0 0 10px 10px;
}
